@media (min-width: 2560px)
{
    .Header 
    {
        font-size: xx-large;
    }
    .UnderMain
    {
        justify-content: left;
        width: 90em;
    }
    .Img
    {
        width: 50em;
        height: 40em;
        margin: 0 1em 1em 0;
    }
    .ServiceName
    {
        text-align: center;
        font-size: xx-large;
        margin-top: 2em;
    }
    #Card
    {
        font-size: xx-large;
    }
    .Geo
    {
        margin-right:100em;
    }
    .Cont
    {
        margin-left: 100em;
    }
}

@media (max-width: 1440px)
{
    .ServiceName
    {
        justify-content: left;
        margin-top: 2em;
    }
    .UnderMain
    {
        width: 50em;
    }
    #Card
    {
        font-size:small;
    }
}
/* 175% */
@media (max-width: 1024px) 
{
     .UnderMain
    {
        width: 40em;
    }
    .Img
    {
        width: 15em;
        height: 10em;
        margin-top: 1em;
    }
    #Card
    {
        font-size:x-small;
    }
    .Geo
    {
        margin-left: 12em;
    }
    .Cont
    {
        margin-left: 12em;
    }
}
/* table */
@media (max-width: 768px)
{
    .PHeader
    {
        font-size: xx-small;
    }
     .UnderMain
    {
        width: 21em;
    }
    .Img
    {
        width: 26em;
        height: 20em;
        margin: auto;
    }
    .Geo
    {
        margin-left: 2.5em;
    }
    .Cont
    {
        margin-left: 5em;
    }
    #Card
    {
        text-align: center;
    }
}
/* mobile */
@media (max-width: 425px)
{
    .PHeader
    {
        font-size: x-small;
    }
     .UnderMain
    {
        width: 21.2em;
    }
    .Img
    {
        width: 26.1em;
        height: 20em;
        margin: auto 0 auto auto;
        text-align: center;

    }
    .Geo
    {
        margin-left: 2em;
    }
    .Cont
    {
        margin-left: 0em;
    }
    #Card
    {
        text-align: center;
    }
}
/* 500% */
@media (max-width: 320px)
{
    .PHeader
    {
        font-size: xx-small;
    }
     .UnderMain
    {
        width: 15.1em;
    }
    .Img
    {
        width: 18.6em;
        height: 10em;
        margin: 0;
    }
    .Geo
    {
        margin: 0;
    }
    .Cont
    {
        margin-left: 2em;
    }
    #Card
    {
        text-align: center;
    }
}